.educationSubDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 3rem 0;
  gap: 3rem;
}
.educationLeft{
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
  gap: 1rem;
}
.graduationCap{
  font-size: 5rem;
  margin: 0 auto 0 0;
}
.educationSubDiv:nth-child(2) .graduationCap {
  color: #a5bbd3; 
}

.educationSubDiv:nth-child(3) .graduationCap {
  color: #d4b5bb; 
}
.educationDate{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  gap: 1rem;
  width: 100%;
}
.educationDate hr{
  width: 2rem;
  border-top: .2rem solid #666565; 
}
.educationDetails{
  width: 40%;
}
@media (max-width: 1024px) {
  .educationDetails{
    width: 50%;
  }
}
@media (max-width: 768px) {
  .educationDetails{
    width: 55%;
  }
}
@media (max-width: 625px) {
  .educationDetails{
    width: 65%;
  }
}