.aboutContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}
.aboutContainer p{
  width: 50%;
}
@media (max-width: 500px) {
  .aboutContainer p{
    width: 70%;
  }
}