@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');
html{
  font-size: 62.5%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #ECE3E6;
  color: #666565;
}
h1{
  font-size: 5rem;
}
h3{
  font-size: 3rem;
}
h5{
  font-size: 2rem;
}
p{
  font-size: 2rem;
  font-weight: 300;
}
button{
  border: none;
  padding: 2rem 3.5rem;
  border-radius: 5%;
  background-color: #CD8495;
  color:#272627;
  font-size: 2.5rem;
}