.skillsContainer{
  margin-top: 20rem;
}
.skillsList{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  flex-wrap: wrap;
  gap: 5rem;
  margin-top: 3rem;
}
.skillsList h5{
  margin-bottom: 2rem;
}