.experienceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  margin: 20rem 8rem;
}
.timeline {
  position: relative;
  max-width: 120rem;
  margin: 0 auto;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 0.5rem;
  background-color: #cd8495;
  top: -5rem;
  bottom: 0;
  left: 50%;
  margin-left: -0.3rem;
}
.container {
  padding: 1rem 4rem;
  position: relative;
  width: 50%;
  margin-bottom: 3rem;
}
.container.left {
  left: 0;
}
.container.right {
  left: 50%;
}
.container::after {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  right: -1.7rem;
  border: 4px solid #ae455c;
  top: 1.5rem;
  border-radius: 50%;
  z-index: 1;
}
.container.right::after {
  left: -1.6rem;
}
.content {
  padding: 2rem 3rem;
  position: relative;
  border-radius: 0.6rem;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.content h5 {
  margin: 1rem 0 2rem 0;
}
.content h5 span {
  font-size: 1.4rem;
  font-weight: 400;
}
.content p {
  font-size: 1.6rem;
  color: #343333;
}
.blackberry .content {
  background-color: #b8aaa7;
}
.blackberry::after {
  border-color: #b8aaa7;
  background-color: #b8aaa7;
}
.techtronix .content {
  background-color: #d4b5bb;
}
.techtronix::after {
  border-color: #d4b5bb;
  background-color: #d4b5bb;
}
.pathway .content {
  background-color: #a5bbd3;
}
.pathway::after {
  border-color: #a5bbd3;
  background-color: #a5bbd3;
}
@media (max-width: 625px) {
  .timeline::after {
    left: 0;
  }
  .container.left::after {
    left: -1.25rem;
  }
  .container {
    width: 100%;
    padding-left: 7rem;
    padding-right: 2.5rem;
    left: -1% !important;
  }
  .container.right {
    left: -1% !important;
  }
  .left::after,
  .right::after {
    left: 1.5rem;
  }
}