.homeContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  padding: 20rem 0;
}
.homeRole{
  display: flex;
  gap: 5rem;
  position: relative;
}
.homeRole span{
  background-color: #a5bbd3;
  padding: 1rem;
  border-radius: 50px;
  font-size: 2rem;
  font-weight: 900;
  position: absolute;
  left: 20rem;
}
.homeRole h1{
  letter-spacing: 1rem;
}
.homeContainer h3{
  margin: 0 0 5rem 0;
}
.homeBottomSection{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 100%;
  margin-top: 5rem;
}
.homeBottomSection hr{
  width: 5rem;
  border: none;
  border-top: .2rem solid #666565; 
  margin: 20px 0; 
}
.socialIconSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
.socialIconSection a{
  color: #666565;
  font-size: 3rem;
}
.socialIconSection a:hover{
  color: #CD8495;
}
@media (max-width: 425px) {
  .homeContainer{
    padding: 10rem 0;
  }
  .homeRole span{
    top: -2rem;
  }
}