.homeContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  padding: 20rem 0;
}
.homeIntro{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.homeIntro h1{
  letter-spacing: 1rem;
}
.homeIntro h3{
  letter-spacing: .3rem;
  padding: 1rem;
  background-color: #a5bbd3;
  border-radius: 50px;
  margin-top: 3rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.homeBottomSection{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 100%;
  margin-top: 8rem;
}
.homeBottomSection hr{
  width: 10rem;
  border: none;
  border-top: .2rem solid #666565; 
  margin: 20px 0; 
}
.socialIconSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.socialIconSection a{
  color: #666565;
  font-size: 3.5rem;
}
.socialIconSection a:hover{
  color: #CD8495;
}
@media (max-width: 425px) {
  .homeContainer{
    padding: 10rem 0;
  }
  .homeRole span{
    top: -2rem;
  }
}